<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src='/js/i18next.min.js'></script>
    <script src='/js/ejs.min.js'></script>
</head>
<body>
    <h1 onClick="hello();">This is my title</h1>
    <%=t('HI')%> <%=name%>
    <br>
    <br>
    <button onclick="loadEjs();">Load EJS</button>

    <div id="content"></div>

    <br>
    <br>
    <br>
    Current language is: <%=language%>
    <input type="hidden" value="<%=language%>">
</body>

<script type="text/javascript">

window.onload = function(){
    window.i18next.init({
        lng: '<%=language%>',
        resources: {
            en: {
                translation: {
                    "key": "hello world"
                }
            },
            cn: {
                translation: {
                    "key": "你好，世界！"
                }
            },
            es:{
                translation: {
                    "key": "Hola, mundo！"
                }
            }
        }
    },(err, t)=>{
        //window.i18next.changeLanguage('en');
    })
}

function hello() {
    alert(window.i18next.t('key'));
}

function loadEjs(){
    alert(window.i18next.t('key'));
    var html = new EJS({
                url: "/blogcard.ejs"
            }).render({
                title: "hello from ejs",
                t: window.i18next.t.bind(window.i18next)
            }) ;

    document.getElementById('content').innerHTML = html;
}
</script>
</html>